<div *ngIf="isLoggedIn" class="wrapper">
  <h1>You're already logged in. Log out first before you try to log in :)</h1>
  <button class="primary-btn" style="width: 100%" routerLink="/home">
    Go Home
  </button>
</div>

<form
  *ngIf="!isLoggedIn"
  (ngSubmit)="onSubmit()"
  name="loginForm"
  class="wrapper"
  [formGroup]="loginForm"
>
  <h1>Log In</h1>
  <div class="input">
    <label for="email">E-mail</label>
    <input
      type="email"
      formControlName="email"
      name="email"
      id="email"
      autocomplete="email"
      required
    />
    <span
      class="input-error"
      *ngIf="
        this.loginForm.get('email')?.dirty &&
        this.loginForm.get('email')?.invalid
      "
      >The email must be a valid email</span
    >
  </div>

  <div class="input">
    <label for="password">Password</label>
    <input
      #password
      type="password"
      formControlName="password"
      name="password"
      id="password"
      autocomplete="current-password"
      required
    />
    <span
      class="input-error"
      *ngIf="
        this.loginForm.get('password')?.dirty &&
        this.loginForm.get('password')?.invalid
      "
      >The password must be minimum 5 characters</span
    >
  </div>
  <button
    class="primary-btn"
    color="primary"
    type="submit"
    id="login-btn"
    [disabled]="loginEnabled()"
  >
    Log In
  </button>
  <hr />
  <button
    class="secondary-btn"
    color="primary"
    type="button"
    routerLink="/signup"
    id="signup-btn"
  >
    Sign up
  </button>
  <br />
  <div
    *ngIf="alert"
    [ngClass]="alert.type === 'info' ? 'alert-info' : 'alert-error'"
  >
    {{ alert.message }}
  </div>
</form>
