# ______________________
# ---  SFTP Server   ---

SFTP_USERNAME='username-here'
SFTP_PASSWORD='password-here'

# ______________________
# ------ Auth Path -----
AUTHENTICATION_PATH_PORT=<port>
AUTHENTICATION_PATH_HOST="<hostname>"
RELOAD_UVICORN="1" # 0 -> False | 1 -> True

# -- user-service-db --
USER_SERVICE_POSTGRES_USER=<username-here>
USER_SERVICE_POSTGRES_PASSWORD=<password-here>
USER_SERVICE_POSTGRES_DB=<db-name-here>
USER_SERVICE_POSTGRES_HOST=<hostname-here>
USER_SERVICE_POSTGRES_PORT=<port>
# EMAIL_AZURE_FUNCTION_URL=<azure function url> # Defined below too

# ---- user-service  ----
PASSWORD_MIN_LENGTH="8"
EMAIL_JWT_SECRET=<secret-here>
AUTH_JWT_SECRET=<secret-here>
RABBITMQ_USER_SERVICE_USER=<user-here>
RABBITMQ_USER_SERVICE_PASSWORD=<password-here>

# ______________________
# ---  Friend Path   ---
EMAIL_AZURE_FUNCTION_URL="<your azure function>"

# --- Server Details ---
SERVER_PORT=<Server's port>

# --- RabbitMQ Connection ---
RABBITMQ_HOST=<RabbitMQ host>
RABBITMQ_VHOST=<RabbitMQ vhost>
RABBITMQ_USER=<Username for RabbitMQ>
RABBITMQ_PASSWORD=<Password for RabbitMQ>

# --- RabbitMQ Configuration ---
RABBITMQ_INVITE_EXCHANGE=<Exchange for the Email Service>
RABBITMQ_USER_EXCHANGE=<Exchange for the User Service>

# --- Profile pic path ---
AZURE_CONNECTION_STRING="<your azure storage connection url. https://learn.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string>"
AZURE_STORAGE_ACCOUNT_NAME="<your azure storage space name>"
AZURE_CONTAINER_NAME="<your container name>"

# --- Wishes Service ---
WISHES_POSTGRES_HOST=localhost
WISHES_POSTGRES_PORT=5432
WISHES_POSTGRES_USER=root
WISHES_POSTGRES_PASSWORD=root
WISHES_POSTGRES_DATABASE=integration
