<section id="content-wrapper">
  <div id="nav-buttons">
    <button class="secondary-btn nav-btn" type="button" routerLink="/products">
      Products
    </button>
    <button class="primary-btn nav-btn" type="button" routerLink="/wishlist">
      Wished For
    </button>
  </div>
  <ng-container *ngIf="!isLoading">
    <ng-container *ngFor="let product of wishlist?.products">
      <div class="product-item">
        <div class="product-item-info">
          <h3>{{ product.name }}</h3>
          <h4>{{ product.subTitle }}</h4>
          <p>{{ product.description }}</p>
        </div>
        <div class="product-item-actions">
          <p>
            <strong> Price: {{ product.price }} $$</strong>
          </p>
          <img
            (click)="removeFromWishlist(product)"
            src="assets/icons/heart_minus.svg"
            class="wishlist-icon"
            alt="Remove product from Wishlist"
          />
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <div class="loading-container">
      <h2>Loading...</h2>
    </div>
  </ng-container>
</section>
