<section id="friends-wrapper">
  <div id="title">
    <h1>Your Friends</h1>
  </div>
  <div id="friends-list">
    <ng-container *ngFor="let friend of friends">
      <div class="friend-item">
        <div class="friend-info">
          <span>{{ friend.friendEmail }}</span>
          <span>{{ friend.friendStatus }}</span>
        </div>
        <img
          class="unfriend-btn"
          (click)="unfriend(friend.friendId)"
          src="assets/icons/person_remove.svg"
          alt="Unfriend button"
        />
      </div>
    </ng-container>
  </div>
</section>
