<section id="friends-wrapper">
  <div id="title">
    <h1>Your Friends</h1>
  </div>
  <div id="friends-search">
    <input
      id="friends-search"
      placeholder="friends email"
      type="text"
      (keyup)="updateSearch($event)"
    />
    <button
      id="invite-btn"
      class="secondary-btn"
      (click)="inviteFriend()"
      [disabled]="!isValidEmail() || isOnFriendList(searchQuery)"
    >
      Invite
    </button>
  </div>
  <div id="friends-list">
    <ng-container *ngFor="let friend of filteredFriends">
      <div class="friend-item">
        <div class="friend-info">
          <span>{{ friend.friendEmail }}</span>
          <span>{{ friend.friendStatus }}</span>
        </div>
        <img
          class="unfriend-btn"
          (click)="unfriend(friend.friendId)"
          src="assets/icons/person_remove.svg"
          alt="Unfriend button"
        />
      </div>
    </ng-container>
  </div>
</section>
